{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription complete{% endblock %}
   {% block body%}
       <h4 class="loginTitle">Voulez vous inserer un logo et des images ?</h4>

       <h6 class="promoNon">* Si oui , remplir le formulaire </h6>
       <h6 class="promoOui">* Si non , cliquer sur suivant </h6>

        <div class="imagesForm">
            {{ form_start(form)}}

            <div class="imagePrestataire">
                <div class=" divBlock  photo userItem">
                    {{ form_row(form.logo, {'attr': {'placeholder': 'Charger le logo de votre entreprise'} }) }}
                </div>
                <div class=" divBlock  photo userItem mt-5 pt5">
                    {{ form_row(form.photo, {'attr': {'placeholder': 'Charger une photo de vos activités'} }) }}
                </div>
            </div>
            <div class="btnEtAjoutImage">
                <div class="btnItem">
                    {{ form_row(form.submit) }}
                </div>
            </div>
            {{ form_end(form) }}

        </div>

   {% endblock %}

