{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Profil prestataire{% endblock %}
{% block body %}
    <div class="searchLocalisation">
        <div class="localisation" id="mapid" >

        </div>

        <div class="search">

                <div class=" text-center mx-auto my-2">
                    <button class="text-center search p-1 w-50 btn dropdown-toggle" id="rechercheRapide" data-bs-toggle="modal" data-bs-target="#modalSearch">Recherche rapide  </button>

                </div>
                {# Block de recherche rapide : ici on cree une modale permettant de faire une rechercher #}
                <div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">

                                <h5 class="modal-title " id="exampleModalCenterTitle">Recherche rapide</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form action="{{ path('fastSearch') }}" method="post">
                                    <div class="form-group">
                                        <label for="prestataire">Prestataire</label>
                                        <input type="text" class="form-control" id="prestataire" name="prestataire" placeholder="tout les prestataires">
                                    </div>
                                    <div class="form-group">
                                        <label for="localite">Localité</label>
                                        <select class="form-control" id="localite" name="localite">
                                            <option value="">Toutes les Provinces</option>
                                            {% for data in localite %}
                                                <option value="{{ data.id }}">{{ data.localite|capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="categorie">Catégorie</label>
                                        <select class="form-control" id="categorie" name="categorie">
                                            {% for data in categorie %}
                                                <option value="{{ data.id }}">{{ data.nom|capitalize }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit"  class="btn btn-primary btnItem">Go</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_start(form)}}

                <div class="formulaire">

                    <div class="categorie formItem">
                        {{ form_row(form.categorie) }}
                    </div>
                    <div class="prestataire formItem">
                        {{ form_row(form.nomPrestataire) }}
                    </div>
                    <div class="commune formItem">
                        {{ form_row(form.nomCommune) }}
                    </div>

                    <div class="localite formItem">
                        {{ form_row(form.nomLocalite) }}
                    </div>
                    <div class="cp formItem">
                        {{ form_row(form.cp) }}
                    </div>

                    <div class="form-row  submit formItem " >
                        {{ form_row(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>


    </div>

    <div class="profilDiapo">
        <div class="photoAdresse">
            <div class="photoMsg">
                <div class="photoProfil">
                    {% if photo is defined %}
                        <img class="logo" src="{{ asset('images_directory/'~photo)  }}" title="photoprofil" alt="photopprofil">
                    {% else %}
                        <img class="logo" src="{{ asset('images_directory/profil.png')  }}" title="photoprofil" alt="photopprofil">
                    {% endif %}
                </div>
                <div class="adresse">
                    <span class="d-block text-center"><strong><u>Adresse :</u></strong></span>

                    <p class="text-center" >
                        <span class="d-block text-center" id ="localiteUser">{{ prestataire["localite"]|capitalize }} </span>
                        <span class="d-block text-center" id ="rueUser">
                            {{ prestataire["No"] }} {{ prestataire["rue"]|capitalize }} ,
                        </span>
                        <span class="d-block text-center" >
                            <span id ="cpUser">{{ prestataire["cp"]}}</span>  {{ prestataire["commune"]|capitalize}}
                       </span>
                    </p>
                </div>
            </div>
            <div class="profilData">
                <span class="d-block infoItem"><strong>Nom :   </strong> {{ prestataire["nom"]|capitalize }}</span>
                <span class="d-block infoItem"><strong>Site :  </strong>{{ prestataire["site"] }}</span>
                <span class="d-block infoItem"><strong>Email : </strong> {{ prestataire["email"] }}</span>
                <span class="d-block infoItem"><strong>Tel :   </strong>{{ prestataire["tel"] }}</span>
                <span class="d-block infoItem"><strong>TVA :   </strong>{{ prestataire["NoTVA"]|upper }}</span>

            </div>

        </div>
        <div class="reseauDiapo">
            <div class="reseau">
                <span class="d-inline-block fa-brands fa-facebook reseauItem"></span>
                <span class="d-inline-block fa-brands fa-square-instagram  reseauItem"></span>
                <span class="d-inline-block fa-brands fa-tiktok reseauItem"></span>
                <span class="d-inline-block fa-brands fa-twitter  reseauItem"></span>
            </div>
            {{ block("diaporama", "home/index.html.twig") }}

        </div>
    </div>
    <div class="allBlock">
        <div class="prestataireAction">
            <div class="prestataireItem ">
                <div class=" nav-item dropdown item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories du prestataire
                    </a>
                    <div class="dropdown-menu block" aria-labelledby="navbarDropdown">
                        {% for categorie in userCategories %}
                            <a class="dropdown-item link" href="{{ path('categorieCourante' , { id:categorie["id"]}) }}">{{ categorie["nom"]|capitalize }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% if typeUser is defined %}
                    <div class="btn">
                        <a href="{{ path('ajouterCategorie' , { id:prestataire["id"]}) }}" class="d-block fa-solid fa-square-plus"></a>
                        <span class="d-block"><a href="{{ path('ajouterCategorie' , { id:prestataire["id"]}) }}">Categorie</a></span>
                    </div>
                {% endif %}

            </div>
            <div class="prestataireItem">
                <div class=" nav-item dropdown item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Voir les stages
                    </a>
                    <div class="dropdown-menu  block" aria-labelledby="navbarDropdown">
                        {% for stage in userStages %}
                            <a class="dropdown-item link" href="{{ path('stageCourant' , { id:stage["id"]}) }}">{{ stage["nom"]|capitalize }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% if typeUser is defined %}
                    <div class="btn">
                        <a href="{{ path('ajoutStage' , { id:prestataire["id"]}) }}" class="d-block fa-solid fa-square-plus"></a>
                        <span class="d-block"><a href="{{ path('ajoutStage' , { id:prestataire["id"]}) }}">Stage</a></span>
                    </div>
                {% endif %}
            </div>
            <div class="prestataireItem">
                <div class=" nav-item  item">
                    <a class="nav-link " href="#"  role="button"  aria-haspopup="true" aria-expanded="false">
                        Galerie photos
                    </a>
                </div>
                {% if typeUser is defined %}
                    <div class="btn">
                        <a href="#" class="d-block fa-solid fa-square-plus"></a>
                        <span class="d-block"><a href="#">Photo</a></span>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="commentCate">
            {% if typeUser is defined %}
                <div class="prestataireItem">
                    <div class=" nav-item dropdown item">
                        <a class="nav-link " href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Commentaires
                        </a>
                    </div>
                </div>
            {% endif %}

            <div class="prestataireItem">
                <div class=" nav-item dropdown item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu   block"  aria-labelledby="navbarDropdown">
                        {% if categorie is defined %}
                            {% for data in categorie  %}
                                <a class="dropdown-item link" href="{{ path('categorieCourante' , { id:data.id}) }}">{{ data.__toString|capitalize }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if typeUser is defined %}
                <div class="prestataireItem">
                    <div class=" nav-item dropdown item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestions des menus
                        </a>
                        <div class="dropdown-menu   block"  aria-labelledby="navbarDropdown">
                            <a class="dropdown-item link" href="#">Gérer les catégories</a>
                            <a class="dropdown-item link" href="#">Gérer les stages</a>
                            <a class="dropdown-item link" href="#">Gérer les promotions</a>
                            <a class="dropdown-item link" href="#">Gérer les photos</a>
                            <a class="dropdown-item link" href="#">Modifier le profil</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% block listePrestataire %}
        {{ parent() }}
    {% endblock %}
{% endblock %}