{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Pre inscription{% endblock %}

{% block body %}

    {{ form_start(form)}}
        <div class="preinscription">
                <div class="nom">
                    {{ form_row(form.nom) }}
                </div>
                <div class="prenom">
                    {{ form_row(form.prenom) }}
                </div>
            {% if typeInscription  == 'prestataire' %}
                <div class="email">
                    {{ form_row(form.email) }}
                </div>
            {% endif %}

        </div>
        <div class="form-row  submit " >
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}
{% endblock %}

