{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Pre inscription{% endblock %}

{% block body %}
    <h5 class="text-center presinscriptionTitle">Veuillez completer le formulaire</h5>
    {{ form_start(form)}}
        <div class="preinscription">
                <div class="nom">
                    {{ form_row(form.nom) }}
                </div>
                <div class="prenom">
                    {{ form_row(form.prenom) }}
                </div>
            {% if typeInscription  == 'prestataire' %}
                <div class="email ">
                    {{ form_row(form.email) }}
                </div>
            {% else %}
                <div class="email d-none">
                    {{ form_row(form.email) }}
                </div>
            {% endif %}
            <div class="form-row  submit " >
                {{ form_row(form.submit) }}
            </div>
        </div>


    {{ form_end(form) }}
{% endblock %}

