
<!DOCTYPE html>
<html lang="Fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('build/all.min.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link href="{{ asset('build/app.css')  }}" rel="stylesheet" >
    {% endblock %}

    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">

        </script>
        <script src="{{ asset('js/jquery.js')  }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% endblock %}
</head>
<body>

{% block header %}

    <header>
        <div class="mobileScreen">
            <div class="headerLogo">
                <a href="{{ path('pageAccueil') }}"><img class="logo" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
            </div>
            <div class="language">
                <span class="francais"><a class="langFr" href="#">Fr</a></span>
                <span class="anglais"><a class="langEng" href="#">En</a></span>
            </div>

            {% if blockdisabled is not defined %}
            <div class="headerLogo">
                <a href="#"><img class="burger" src="{{ asset('images/burger.png')  }}" title="accueil" alt="accueil"></a>

                    <div class="menuMobile">
                        <div class="menuBurger">
                            <a class="dropdown-item menuItem listItem" href="{{ path('pageAccueil') }}">Accueil</a>
                            <a class="dropdown-item menuItem listItem" href="#">A Propos</a>
                            <a class="dropdown-item menuItem listItem" href="#">Contactez-nous</a>
                            <button type="button" class="dropdown-item dropdown-toggle listItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Catégories
                            </button>
                            <div class="dropdown-menu dropdown-menu-right categorie">
                                <a class="dropdown-item menuItem listItem" href="#">lorem</a>
                                <a class="dropdown-item menuItem listItem" href="#">lorem</a>
                            </div>
                        </div>
                            <div>
                                <div class="btnConnexion">
                                    <a href="#" class="btn btn-sm dropdown-item btnItem text-center">Connexion</a>
                                </div>
                                <div class="btnInscription">
                                    <a href="{{ path('mobileSignup') }}" class="btn  btn-sm dropdown-item btnItem text-center">Inscription</a>
                                </div>
                            </div>
                        </div>
                   </div>
            {% endif %}

        </div>
        <div class="bigScreen">
            <div class="headerLogo">
                <a href="{{ path('pageAccueil') }}"><img class="logo" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
            </div>

            <div class="menu">
                <div class="language">
                    <span class="francais"><a class="langFr" href="#">Fr</a></span>
                    <span class="anglais"><a class="langEng" href="#">En</a></span>
                </div>
                <div class="menuEtBtn">
                    <nav class="navbar-nav navElt" >
                        <ul class="navbar">
                            <li class="nav-item"> <a class="nav-link " href="{{ path('pageAccueil') }}">Accueil<span class="sr-only">(current)</span></a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Contactez-nous</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Catégories
                                </a>

                            </li>
                        </ul>
                    </nav>

                    <div class="btnElt">
                        {% if  blockdisabled is not defined %}
                            <div class="btnConnexion">
                                <a href="#" class="btn btn-sm dropdown-item btnItem text-center" >Connexion</a>
                            </div>


                            <div class="btnInscription">
                                <a href="#" class="btn  btn-sm dropdown-item btnItem text-center" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Inscription</a>
                            </div>

                        {%  endif %}

                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">

                                        <h5 class="modal-title " id="exampleModalCenterTitle">Je veux m'inscrire en tant que : </h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modalBtnInternaute modal-item">
                                            <a href="{{ path('presignup', { typeInscription:'internaute'}) }}" class="btn btn-sm dropdown-item btnItem text-center choixInternaute" >Internaute</a>
                                        </div>
                                        <div class="modalBtnPrestataire modal-item">
                                            <a href="{{ path('presignup', { typeInscription:'prestataire'}) }}" class="btn btn-sm dropdown-item btnItem text-center choixPrestataire" >Prestataire</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </header>

{% endblock %}

{% block body %}


{% endblock %}
{% block footer %}
    <div class="footer">
        <div class="footerSiteBlock">
            <a href="#" class="siteName">doTonNyanga</a>
        </div>
        <div class="footerMenu">
            <span class="newsletter spanFooter"><a href="#"  class="footerItem">Newsletters</a></span>
            <span class="contact spanFooter"><a href="#" class="footerItem" >Nous contacter</a></span>
            <span class="about spanFooter" ><a href="#" class="footerItem">A propos</a></span>
        </div>
    </div>
{% endblock %}
</body>
</html>
