
<!DOCTYPE html>
<html lang="Fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('build/all.min.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{{ asset('build/app.css')  }}" rel="stylesheet" >
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
        <script src="{{ asset('js/prestataireSearchBlock.js')  }}"></script>
        <script src="{{ asset('js/confirmPrestataireEmailCheck.js')  }}"></script>
        <script src="{{ asset('js/confirmInternauteEmailCheck.js')  }}"></script>
        <script src="{{ asset('js/prestataireEmailCheckUp.js')  }}"></script>
        <script src="{{ asset('js/emailCheckUp.js')  }}"></script>
        <script src="{{ asset('js/loginPrestataire.js')  }}"></script>
        <script src="{{ asset('js/inscription.js')  }}"></script>
        <script src="{{ asset('js/jquery.js')  }}"></script>
        <script src="{{ asset('js/ajoutImage.js')  }}"></script>
        <script src="{{ asset('js/pagination.js')  }}"></script>
        <script src="{{ asset('js/listePrestataires.js')  }}"></script>
        <script src="{{ asset('js/setPcitureInput.js')  }}"></script>
        <script src="{{ asset('js/localisation.js')  }}"></script>

        {#  <script src="{{ asset('js/passwordCheck.js')  }}"></script> a activer pour les mdp#}
        {% endblock %}
</head>
<body>

{% block header %}

    {% if app.user  %}
        <header>
            <div class="logoutMenuMobile">
                <div class="headerLogo">
                    <a href="#"><img class="logo" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
                </div>
                <div class="menuLanguage  ">
                    <div class="langProfil ">
                        <div class="language langBlock">
                            <span class="francais"><a class="langFr" href="#">Fr</a></span>
                            <span class="anglais"><a class="langEng" href="#">En</a></span>
                        </div>
                        {% if typeUser == "PRESTATAIRE"%}
                            <div class="menuProfil" hidden>
                                <div class="envoyer iconItem ">
                                    <span class="d-block fa-solid fa-share text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Envoyer</a></span>
                                </div>
                                <div class="contacter iconItem">
                                    <span class="d-block fa-solid fa-envelope text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Contacter</a></span>
                                </div>
                                <div class="favoris iconItem">
                                    <span class="d-block fa-solid fa-star text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Favoris</a></span>
                                </div>
                                <div class="favoris iconItem">
                                    <span class="d-block fa-solid fa-comment text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Commentaire</a></span>
                                </div>
                            </div>
                        {% else %}
                            <div class="menuProfil ">
                                <div class="envoyer iconItem ">
                                    <span class="d-block fa-solid fa-share text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Envoyer</a></span>
                                </div>
                                <div class="contacter iconItem">
                                    <span class="d-block fa-solid fa-envelope text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Contacter</a></span>
                                </div>
                                <div class="favoris iconItem">
                                    <span class="d-block fa-solid fa-star text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Favoris</a></span>
                                </div>
                                <div class="favoris iconItem">
                                    <span class="d-block fa-solid fa-comment text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Commentaire</a></span>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="btnDeconnexion">
                        <a href="{{ path('app_logout') }}"><img class="deconnexion" src="{{ asset('images/deconnexion.png')  }}" title="deconnexion" alt="log out"></a>
                    </div>
                </div>
            </div>
            <div class="logoutBigScreen">
                <div class="headerLogo">
                    <a href="#"><img class="logo" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
                </div>
                <div class="menuLanguage  ">
                    <div class="langProfil ">
                        <div class="language langBlock">
                            <span class="francais"><a class="langFr" href="#">Fr</a></span>
                            <span class="anglais"><a class="langEng" href="#">En</a></span>
                        </div>
                        {% if typeUser == "PRESTATAIRE"%}
                            <div class="menuProfil" hidden>
                                <div class="envoyer iconItem ">
                                    <span class="d-block fa-solid fa-share text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Envoyer</a></span>
                                </div>
                                <div class="contacter iconItem">
                                    <span class="d-block fa-solid fa-envelope text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Contacter</a></span>
                                </div>
                                <div class="favoris iconItem">
                                    <span class="d-block fa-solid fa-star text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Favoris</a></span>
                                </div>
                                <div class="favoris iconItem">
                                    <span class="d-block fa-solid fa-comment text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Commentaire</a></span>
                                </div>
                            </div>
                        {% else %}
                            <div class="menuProfil" >
                                <div class="envoyer iconItem ">
                                    <span class="d-block fa-solid fa-share text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Envoyer</a></span>
                                </div>
                                <div class="contacter iconItem">
                                    <span class="d-block fa-solid fa-envelope text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Contacter</a></span>
                                </div>
                                <div class="favoris iconItem">
                                    <span class="d-block fa-solid fa-star text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Favoris</a></span>
                                </div>
                                <div class="favoris iconItem">
                                    <span class="d-block fa-solid fa-comment text-center"><a href=""></a></span>
                                    <span class="d-block  iconMsg"><a href="">Commentaire</a></span>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                    <div class="btnDeconnexion ">
                        <a href="{{ path('app_logout') }}" class="deconnexion btn btn primary">Deconnexion</a>
                    </div>
                </div>
            </div>
        </header>
    {% else %}

    <header>
        <div class="mobileScreen">
            <div class="headerLogo">
                <a href="{{ path('pageAccueil') }}"><img class="logo" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
            </div>
            <div class="language">
                <span class="francais"><a class="langFr" href="#">Fr</a></span>
                <span class="anglais"><a class="langEng" href="#">En</a></span>
            </div>
            <div class="headerLogo">
                <a href="#"><img class="burger" src="{{ asset('images/burger.png')  }}" title="accueil" alt="accueil"></a>

                <div class="menuMobile">
                    <div class="menuBurger">
                        <a class="dropdown-item menuItem listItem" href="{{ path('pageAccueil') }}">Accueil</a>
                        <a class="dropdown-item menuItem listItem" href="#">A Propos</a>
                        <a class="dropdown-item menuItem listItem" href="#">Contactez-nous</a>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle wn menuItem listItem" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Catégories
                            </a>
                            <div class="dropdown-menu   block"  aria-labelledby="navbarDropdown">
                                {% if categorie is defined %}
                                    {% for data in categorie  %}
                                        <a class="dropdown-item link" href="{{ path('categorieCourante' , { id:data.id}) }}">{{ data.__toString|capitalize }}</a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </li>
                    </div>
                    <div>
                        <div class="btnConnexion">
                            <a href="{{ path('app_login') }}" class="btn btn-sm dropdown-item btnItem text-center">Connexion</a>
                        </div>
                        <div class="btnInscription">
                            <a href="{{ path('mobileSignup') }}" class="btn  btn-sm dropdown-item btnItem text-center">Inscription</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bigScreen">
            <div class="headerLogo">
                <a href="{{ path('pageAccueil') }}"><img class="logo" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
            </div>
            <div class="menu">
                <div class="language">
                    <span class="francais"><a class="langFr" href="#">Fr</a></span>
                    <span class="anglais"><a class="langEng" href="#">En</a></span>
                </div>
                <div class="menuEtBtn">
                    <nav class="navbar-nav navbar-expand-lg navElt " >
                            <ul class="navbar-nav" >
                                <li class="nav-item"> <a class="nav-link " href="{{ path('pageAccueil') }}">Accueil<span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Contactez-nous</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Catégories
                                    </a>
                                    <div class="dropdown-menu   block"  aria-labelledby="navbarDropdown">
                                        {% if categorie is defined %}
                                            {% for data in categorie  %}
                                                <a class="dropdown-item link" href="{{ path('categorieCourante' , { id: data.id}) }}">{{ data.__toString|capitalize }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                    </nav>

                    <div class="btnElt">
                        <div class="btnConnexion">
                            <a href="{{ path('app_login') }}" class="btn btn-sm dropdown-item btnItem text-center" >Connexion</a>
                        </div>
                        <div class="btnInscription">
                            <a href="#" class="btn  btn-sm dropdown-item btnItem text-center" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Inscription</a>
                        </div>

                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">

                                        <h5 class="modal-title " id="exampleModalCenterTitle">Je veux m'inscrire en tant que : </h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modalBtnInternaute modal-item">
                                            <a href="{{ path('presignupInternaute', { typeInscription:'internaute'}) }}" class="btn btn-sm dropdown-item btnItem text-center choixInternaute" >Internaute</a>
                                        </div>
                                        <div class="modalBtnPrestataire modal-item">
                                            <a href="{{ path('presignupPrestataire', { typeInscription:'prestataire'}) }}" class="btn btn-sm dropdown-item btnItem text-center choixPrestataire" >Prestataire</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% endif %}

{% endblock %}

{% block body %}
    {# condition permettant d'allouer une route au lien clickable  #}

      {% block listePrestataire %}
        <div class="blockBody">
            <div class="blockPrestataire">


               {# condition permettant de verifier si le donnees existent #}
                {% if prestataires[0][1] is not defined %}
                    {% set pictureUser = "pic.jpg" %}
                    {% set  titleUser = "loading...." %}
                    {% set url = "#" %}
                {% else %}
                    {% if prestataires[0][1] is defined %}
                        {% set  pictureUser = prestataires[0][1]  %}
                    {% else %}
                        {% set  pictureUser = "pic.jpg" %}
                    {% endif %}

                    {% set titleUser = prestataires[0][0].__toString|capitalize %}

                    {% if typeUser is defined %}
                        {% set url =  path('profilPrestataire', { id :prestataires[0][0].id,role:typeUser})  %}
                    {% else %}
                        {% set url =  path('descriptionPrestataire', { id :prestataires[0][0].id})  %}
                    {% endif %}

                {% endif %}

                <div class="prestataireItem">
                    <a  href="{{ url }}"><img class="logoPrestataire" src="{{ asset('images_directory/'~pictureUser)  }}" title="accueil" alt="accueil"></a>
                    <div class="nomPrestataire"><a href="{{ url }}" class="nomPrestataire">{{ titleUser}}</a></div>
                </div>

                {% if prestataires[1][1] is not defined %}
                    {% set pictureUser = "pic.jpg" %}
                    {% set  titleUser = "loading...." %}
                    {% set url = "#" %}
                {% else %}
                    {% if prestataires[1][1] is defined %}
                        {% set  pictureUser = prestataires[1][1]  %}
                    {% else %}
                        {% set  pictureUser = "pic.jpg" %}
                    {% endif %}

                    {% set titleUser = prestataires[1][0].__toString|capitalize %}
                    {% if typeUser is defined %}
                        {% set url =  path('profilPrestataire', { id :prestataires[1][0].id,role:typeUser})  %}
                    {% else %}
                        {% set url =  path('descriptionPrestataire', { id :prestataires[1][0].id})  %}
                    {% endif %}
                {% endif %}
                <div class="prestataireItem">
                    <a href="{{ url }}"><img class="logoPrestataire" src="{{ asset('images_directory/'~pictureUser)  }}" title="accueil" alt="accueil"></a>
                    <div class="nomPrestataire"><a href="{{ url }}" class="nomPrestataire">{{ titleUser}}</a></div>
                </div>

                {% if prestataires[2][1] is not defined %}
                    {% set pictureUser = "pic.jpg" %}
                    {% set  titleUser = "loading...." %}
                    {% set url = "#" %}
                {% else %}
                    {% if prestataires[2][1] is defined %}
                        {% set  pictureUser = prestataires[2][1]  %}
                    {% else %}
                        {% set  pictureUser = "pic.jpg" %}
                    {% endif %}

                    {% set titleUser = prestataires[2][0].__toString|capitalize %}

                    {% if typeUser is defined %}
                        {% set url =  path('profilPrestataire', { id :prestataires[2][0].id,role:typeUser})  %}
                    {% else %}
                        {% set url =  path('descriptionPrestataire', { id :prestataires[2][0].id})  %}
                    {% endif %}
                {% endif %}
                <div class="prestataireItem">
                    <a href="{{ url }}"><img class="logoPrestataire" src="{{ asset('images_directory/'~pictureUser)  }}" title="accueil" alt="accueil"></a>
                    <div class="nomPrestataire"><a href="{{ url }}" class="nomPrestataire">{{ titleUser }}</a></div>
                </div>


                {% if prestataires[3][1] is not defined %}
                    {% set pictureUser = "pic.jpg" %}
                    {% set  titleUser = "loading...." %}
                    {% set url = "#" %}
                {% else %}
                    {% if prestataires[3][1] is defined %}
                        {% set  pictureUser = prestataires[3][1]  %}
                    {% else %}
                        {% set  pictureUser = "pic.jpg" %}
                    {% endif %}

                    {% set titleUser = prestataires[3][0].__toString|capitalize %}

                    {% if typeUser is defined %}
                        {% set url =  path('profilPrestataire', { id :prestataires[3][0].id,role:typeUser})  %}
                    {% else %}
                        {% set url =  path('descriptionPrestataire', { id :prestataires[3][0].id})  %}
                    {% endif %}
                {% endif %}
                <div class="prestataireItem">
                    <a href="{{ url }}"><img class="logoPrestataire" src="{{ asset('images_directory/'~pictureUser)  }}" title="accueil" alt="accueil"></a>
                    <div class="nomPrestataire"><a href="{{ url }}" class="nomPrestataire">{{ titleUser }}</a></div>
                </div >
            </div>

            {% if categorieChoisie[0] is not defined %}
                {% set  titleUser = "loading...." %}
                {% set url = "#" %}
            {% else %}
                {% set titleUser = categorieChoisie[0].__toString|capitalize %}
                {% set url =  path('descriptionPrestataire', { id :categorieChoisie[0].id})  %}
            {% endif %}
            <div class="categorieItem">
                <a href="{{ url }}"><img class="logoPrestataire" src="{{ asset('images_directory/'~categorieChoisie[1])  }}" title="accueil" alt="accueil"></a>
                <div class="nomPrestataire"><a href="{{ url }}" class="nomPrestataire">Categorie du mois : {{ titleUser }}</a></div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block footer %}
    <div class="footer">
        <div class="footerSiteBlock">
            <a href="#" class="siteName">doTonNyanga</a>
        </div>
        <div class="footerMenu">
            <span class="newsletter spanFooter"><a href="#"  class="footerItem">Newsletters</a></span>
            <span class="contact spanFooter"><a href="#" class="footerItem" >Nous contacter</a></span>
            <span class="about spanFooter" ><a href="#" class="footerItem">A propos</a></span>
        </div>
    </div>



{% endblock %}
</body>
</html>
