
<!DOCTYPE html>
<html lang="Fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('build/all.min.css') }}" type="text/css" media="screen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
     <link href="{{ asset('build/app.css')  }}" rel="stylesheet" >
    {% endblock %}

    {% block javascripts %}
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">

        </script>
        <script
                src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
                integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">

        </script>

        <script src="{{ asset('js/confirmPrestataireEmailCheck.js')  }}"></script>
        <script src="{{ asset('js/confirmInternauteEmailCheck.js')  }}"></script>
        <script src="{{ asset('js/prestataireEmailCheckUp.js')  }}"></script>
        <script src="{{ asset('js/emailCheckUp.js')  }}"></script>
        <script src="{{ asset('js/loginPrestataire.js')  }}"></script>
        <script src="{{ asset('js/inscription.js')  }}"></script>
        <script src="{{ asset('js/jquery.js')  }}"></script>
        <script src="{{ asset('js/ajoutImage.js')  }}"></script>
        {#  <script src="{{ asset('js/passwordCheck.js')  }}"></script> a activer pour les mdp#}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    {% endblock %}
</head>
<body>

{% block header %}
    {% if infoBlock == 'menuConnexion' %}

    <header>
        <div class="mobileScreen">
            <div class="headerLogo">
                <a href="{{ path('pageAccueil') }}"><img class="logo" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
            </div>
            <div class="language">
                <span class="francais"><a class="langFr" href="#">Fr</a></span>
                <span class="anglais"><a class="langEng" href="#">En</a></span>
            </div>
            <div class="headerLogo">
                <a href="#"><img class="burger" src="{{ asset('images/burger.png')  }}" title="accueil" alt="accueil"></a>

                <div class="menuMobile">
                    <div class="menuBurger">
                        <a class="dropdown-item menuItem listItem" href="{{ path('pageAccueil') }}">Accueil</a>
                        <a class="dropdown-item menuItem listItem" href="#">A Propos</a>
                        <a class="dropdown-item menuItem listItem" href="#">Contactez-nous</a>
                        <button type="button" class="dropdown-item dropdown-toggle listItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Catégories
                        </button>
                        <div class="dropdown-menu dropdown-menu-right categorie">
                            <a class="dropdown-item menuItem listItem" href="#">lorem</a>
                            <a class="dropdown-item menuItem listItem" href="#">lorem</a>
                        </div>
                    </div>
                    <div>
                        <div class="btnConnexion">
                            <a href="{{ path('app_login') }}" class="btn btn-sm dropdown-item btnItem text-center">Connexion</a>
                        </div>
                        <div class="btnInscription">
                            <a href="{{ path('mobileSignup') }}" class="btn  btn-sm dropdown-item btnItem text-center">Inscription</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bigScreen">
            <div class="headerLogo">
                <a href="{{ path('pageAccueil') }}"><img class="logo" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
            </div>
            <div class="menu">
                <div class="language">
                    <span class="francais"><a class="langFr" href="#">Fr</a></span>
                    <span class="anglais"><a class="langEng" href="#">En</a></span>
                </div>
                <div class="menuEtBtn">
                    <nav class="navbar-nav navElt" >
                        <ul class="navbar">
                            <li class="nav-item"> <a class="nav-link " href="{{ path('pageAccueil') }}">Accueil<span class="sr-only">(current)</span></a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Contactez-nous</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Catégories
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <div class="btnElt">
                        <div class="btnConnexion">
                            <a href="{{ path('app_login') }}" class="btn btn-sm dropdown-item btnItem text-center" >Connexion</a>
                        </div>
                        <div class="btnInscription">
                            <a href="#" class="btn  btn-sm dropdown-item btnItem text-center" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Inscription</a>
                        </div>

                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header text-center">

                                        <h5 class="modal-title " id="exampleModalCenterTitle">Je veux m'inscrire en tant que : </h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modalBtnInternaute modal-item">
                                            <a href="{{ path('presignupInternaute', { typeInscription:'internaute'}) }}" class="btn btn-sm dropdown-item btnItem text-center choixInternaute" >Internaute</a>
                                        </div>
                                        <div class="modalBtnPrestataire modal-item">
                                            <a href="{{ path('presignupPrestataire', { typeInscription:'prestataire'}) }}" class="btn btn-sm dropdown-item btnItem text-center choixPrestataire" >Prestataire</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% endif %}
    {% if infoBlock  == 'menuDeconnexion'%}
    <header>
        <div class="logoutMenuMobile">
            <div class="headerLogo">
                <a href="#"><img class="logo" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
            </div>
            <div class="menuLanguage  ">
                <div class="langProfil ">
                    <div class="language langBlock">
                        <span class="francais"><a class="langFr" href="#">Fr</a></span>
                        <span class="anglais"><a class="langEng" href="#">En</a></span>
                    </div>
                    <div class="menuProfil ">
                        <div class="envoyer iconItem ">
                            <span class="d-block fa-solid fa-share text-center"><a href=""></a></span>
                            <span class="d-block  iconMsg"><a href="">Envoyer</a></span>
                        </div>
                        <div class="contacter iconItem">
                            <span class="d-block fa-solid fa-envelope text-center"><a href=""></a></span>
                            <span class="d-block  iconMsg"><a href="">Contacter</a></span>
                        </div>
                        <div class="favoris iconItem">
                            <span class="d-block fa-solid fa-star text-center"><a href=""></a></span>
                            <span class="d-block  iconMsg"><a href="">Favoris</a></span>
                        </div>
                        <div class="favoris iconItem">
                            <span class="d-block fa-solid fa-comment text-center"><a href=""></a></span>
                            <span class="d-block  iconMsg"><a href="">Commentaire</a></span>
                        </div>
                    </div>
                </div>
                <div class="btnDeconnexion">
                    <a href="{{ path('app_logout') }}"><img class="deconnexion" src="{{ asset('images/deconnexion.png')  }}" title="deconnexion" alt="log out"></a>
                </div>
            </div>
        </div>
        <div class="logoutBigScreen">
            <div class="headerLogo">
                <a href="#"><img class="logo" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
            </div>
            <div class="menuLanguage  ">
                <div class="langProfil ">
                    <div class="language langBlock">
                        <span class="francais"><a class="langFr" href="#">Fr</a></span>
                        <span class="anglais"><a class="langEng" href="#">En</a></span>
                    </div>
                    <div class="menuProfil ">
                        <div class="envoyer iconItem ">
                            <span class="d-block fa-solid fa-share text-center"><a href=""></a></span>
                            <span class="d-block  iconMsg"><a href="">Envoyer</a></span>
                        </div>
                        <div class="contacter iconItem">
                            <span class="d-block fa-solid fa-envelope text-center"><a href=""></a></span>
                            <span class="d-block  iconMsg"><a href="">Contacter</a></span>
                        </div>
                        <div class="favoris iconItem">
                            <span class="d-block fa-solid fa-star text-center"><a href=""></a></span>
                            <span class="d-block  iconMsg"><a href="">Favoris</a></span>
                        </div>
                        <div class="favoris iconItem">
                            <span class="d-block fa-solid fa-comment text-center"><a href=""></a></span>
                            <span class="d-block  iconMsg"><a href="">Commentaire</a></span>
                        </div>
                    </div>
                </div>
                <div class="btnDeconnexion ">
                    <a href="{{ path('app_logout') }}" class="deconnexion btn btn primary">Deconnexion</a>
                </div>
            </div>
        </div>
    </header>
    {% endif %}

{% endblock %}

{% block body %}




  {% block listePrestataire %}
    <div class="blockBody">
        <div class="blockPrestataire">
            <div class="prestataireItem">
                <a href="#"><img class="logoPrestataire" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
                <div class="nomPrestataire"><a href="#" class="nomPrestataire">Prestataire 1</a></div>
            </div>
            <div class="prestataireItem">
                <a href="#"><img class="logoPrestataire" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
                <div class="nomPrestataire"><a href="#" class="nomPrestataire">Prestataire 2</a></div>
            </div>

            <div class="prestataireItem">
                <a href="#"><img class="logoPrestataire" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
                <div class="nomPrestataire"><a href="#" class="nomPrestataire">Prestataire 3</a></div>
            </div >
            <div class="prestataireItem">
                <a href="#"><img class="logoPrestataire" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
                <div class="nomPrestataire"><a href="#" class="nomPrestataire">Prestataire 4</a></div>
            </div >
        </div>
        <div class="categorieItem">
            <div class="imagePrestataire">
                <a href="#"><img class="logoPrestataire" src="{{ asset('images/logo.png')  }}" title="accueil" alt="accueil"></a>
            </div>
            <div class="nomPrestataire"><a href="#" class="nomPrestataire">Categorie du mois</a></div>
        </div>
    </div>
{% endblock %}
{% endblock %}
{% block footer %}
    <div class="footer">
        <div class="footerSiteBlock">
            <a href="#" class="siteName">doTonNyanga</a>
        </div>
        <div class="footerMenu">
            <span class="newsletter spanFooter"><a href="#"  class="footerItem">Newsletters</a></span>
            <span class="contact spanFooter"><a href="#" class="footerItem" >Nous contacter</a></span>
            <span class="about spanFooter" ><a href="#" class="footerItem">A propos</a></span>
        </div>
    </div>
{% endblock %}
</body>
</html>
