{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Catégorie courante{% endblock %}

{% block body %}


    <div class="searchEtDiapo">
        <div>

            <div class=" text-center mx-auto">
                <button class="text-center search p-1 w-75 btn dropdown-toggle" id="rechercheRapide" data-bs-toggle="modal" data-bs-target="#modalSearch">Recherche rapide  </button>

            </div>
            {# Block de recherche rapide : ici on cree une modale permettant de faire une rechercher #}
            <div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">

                            <h5 class="modal-title " id="exampleModalCenterTitle">Recherche rapide</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form action="{{ path('fastSearch') }}" method="post">
                                <div class="form-group">
                                    <label for="prestataire">Prestataire</label>
                                    <input type="text" class="form-control" id="prestataire" name="prestataire" placeholder="tout les prestataires">
                                </div>
                                <div class="form-group">
                                    <label for="localite">Localité</label>
                                    <select class="form-control" id="localite" name="localite">
                                        <option value="">Toutes les Provinces</option>
                                        {% for data in localite %}
                                            <option value="{{ data.id }}">{{ data.localite|capitalize }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="categorie">Catégorie</label>
                                    <select class="form-control" id="categorie" name="categorie">
                                        {% for data in categorie %}
                                            <option value="{{ data.id }}">{{ data.nom|capitalize }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit"  class="btn btn-primary btnItem">Go</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% block search %}
                {{ form_start(form)}}

                    <div class="formulaire">

                        <div class="categorie formItem">
                            {{ form_row(form.categorie) }}
                        </div>
                        <div class="prestataire formItem">
                            {{ form_row(form.nomPrestataire) }}
                        </div>
                        <div class="commune formItem">
                            {{ form_row(form.nomCommune) }}
                        </div>

                        <div class="localite formItem">
                            {{ form_row(form.nomLocalite) }}
                        </div>
                        <div class="cp formItem">
                            {{ form_row(form.cp) }}
                        </div>

                        <div class="form-row  submit formItem " >
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                {{ form_end(form) }}

            {% endblock %}

        </div>
        {% block diaporama %}
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{ asset('images_directory/diaporama/1.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{ asset('images_directory/diaporama/2.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images_directory/diaporama/3.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images_directory/diaporama/4.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{{ asset('images_directory/diaporama/5.jpg') }}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden text-black">Prec.</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden text-black">Suiv.</span>
                </button>
            </div>
        {% endblock %}
    </div>

    {# bloc permettant d afficher les informations d'une categorie  #}
    <div class="descriptionCategorie">
        <div class="photo">
            <div id="carouselExampleInterval" class="carousel slide imageCourante" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{ asset('images_directory/'~nomImage) }}" alt="photo de la categorie">
                   </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{ asset('images_directory/'~nomImage) }}" alt="photo de la categorie">
                    </div>
                    <div class="carousel-item" >
                        <img src="{{ asset('images_directory/'~nomImage) }}" alt="photo de la categorie">
                    </div>
                </div>
            </div>
            <div class="titreCategorie">
                <h3 class="text-center">{{ categorieCourante.nom|capitalize }}</h3>
            </div>
        </div>
        <div class="titreDescription">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col text-center ">Titre : {{ categorieCourante.nom|capitalize }}</th>
                    </tr>
                </thead>
                <tbody>
                   <tr class="table-active text-center description ">
                        <td>{{ categorieCourante.description }}</td>
                   </tr>
                </tbody>
            </table>
            <div class=" nav-item dropdown item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Prestataires de la catégorie
                </a>
                {# ici , tout les tests sur l existence des prestataires ainsi que la verification si un user est connecté ou pas et si la
                le tableau des prestataires est vide ou pas #}
                <div class="dropdown-menu  block" aria-labelledby="navbarDropdown">
                    {% if mesprestataires is defined %}
                        {% if mesprestataires|length > 0 %}
                            {% if app.user %}
                                {% for prestataire in mesprestataires %}
                                    {% set url =  path('descriptionPrestataire', { id : prestataire["id"]})  %}
                                    <a class="dropdown-item link" href="{{ url }}">{{ prestataire["nom"]|capitalize }}</a>
                                {% endfor %}
                            {% else %}
                                {% for prestataire in mesprestataires %}
                                    {% set url =  path('descriptionPrestataire', { id : prestataire["id"]})  %}
                                    <a class="dropdown-item link" href="{{ url }}">{{ prestataire["nom"]|capitalize }}</a>
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            <a class="dropdown-item link" href="#">Aucun prestataire</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>

    </div>

    {% block listePrestataire %}
        {{ parent() }}
    {% endblock %}

{% endblock %}
