{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}
        <h4 class="loginTitle">Ajouter une catégorie</h4>


    {{ form_start(form)}}

    <div class="formulaireCategorie">
            <div class="nom categoryItem">
                {{ form_row(form.nom) }}
            </div>
            <div class="categorieItem description">
                {{ form_row(form.description) }}
            </div>

            <div class=" categorieItem photo">
                {{ form_row(form.photo) }}
            </div>

            <div class="btnItem">
                {{ form_row(form.submit) }}
            </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
