{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Inscription complete{% endblock %}
   {% block body%}
       <h4 class="loginTitle">Voulez vous publier une promotion ?</h4>

       <h6 class="promoNon">* Si oui remplir le formulaire </h6>
       <h6 class="promoOui">* Si non valider le formulaire </h6>


       {{ form_start(form)}}

       <div class="lesPromos">
           <div class=" divBlock  nomPromo userItem">
               {{ form_row(form.nom) }}
           </div>

           <div class=" divBlock  description userItem">
               {{ form_row(form.description ) }}
           </div>
           <div class=" divBlock  dateDebut userItem">
               {{ form_row(form.categorie) }}
           </div>
           <div class="btnItem">
               {{ form_row(form.submit) }}
           </div>
       </div>

       {{ form_end(form) }}

   {% endblock %}




